.button-center {
  text-align: center;
  height: 7vh;
  width: 15vw;
  min-width: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--purple);
  border-radius: 10px;
  padding: 3%;
  // transition: 0.2s;

  &:hover {
    cursor: pointer;
  }
}

.button {
  color: #fff;
  text-decoration: none;
  border-radius: 0px;
  font-weight: 800;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.disabled {
  background-color: var(--gray);
}
