#contact-form-container {
  form {
    display: flex;
    flex-flow: column;
  }

  button {
    background: transparent;
    border: 0;
    width: 25%;
    padding: 0;

    > div {
      width: 100%;
    }
  }

  input,
  textarea {
    color: white;
  }
}
