#home {
  display: flex;
  overflow: hidden;
  background-color: black;
  height: 100vh;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

#eye {
  position: relative;
  overflow: visible;
  fill: #f2f2f2;
  width: 50%;
  height: 20%;
  // opacity: 0.6;

  // animation: eyeToTop 2s linear;
  animation-fill-mode: forwards;

  path {
    fill-opacity: 1;
    fill-opacity: 0;
    animation: revealPath 3s linear 3s;
    animation-fill-mode: forwards;
  }
}

#xrButton-container {
  display: flex;
  width: 80%;
  justify-content: space-evenly;
}

.xrButton {
  font-size: 5em;
  z-index: 1;
  border: solid 2px white;
  border-radius: 10px;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vw;
}
