@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import "./common.scss";
@import "./animations.scss";
@import "./home.scss";
@import "./layout.scss";

:root {
  --purple: #371a9f;
}

* {
  font-family: "Roboto" !important;
}

.fullscreen-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .fullscreen-canvas-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
  }
}

.fullscreen-loading {
  font-size: 5em;
  color: gold;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.clickable {
  transition: 0.5s;
  &:hover {
    @extend .menuItem-selected;
    cursor: pointer;
  }
}
