@import "./common.scss";
@import "./animations.scss";
@import "./home.scss";
@import "./layout.scss";

.fullscreen-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .fullscreen-canvas-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
  }
}

.fullscreen-loading {
  font-size: 5em;
  color: gold;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.menuItem-selected {
  transform: scale(1.2);
  color: red;

  rect,
  polygon,
  path,
  line,
  polyline {
    stroke: red;
    stroke-width: 10px;
  }
}

.clickable {
  transition: 0.5s;
  &:hover {
    @extend .menuItem-selected;
    cursor: pointer;
  }
}

.menuItem {
  @extend .clickable;
  display: flex;
  height: 10vh;
  align-items: center;
  font-size: 0.7em;
  flex-flow: column;

  svg {
    height: 100%;
  }
}
