@import url("https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap");
@import "./common.scss";
@import "./animations.scss";
@import "./home.scss";
@import "./layout.scss";
@import "../components//Sides/styles.scss";

:root {
  --purple: #371a9f;
}

* {
  font-family: "Roboto" !important;
}

.cc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullscreen-canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  .fullscreen-canvas-loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: gold;
  }
}

.fullscreen-loading {
  font-size: 5em;
  color: gold;
  z-index: 1;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.clickable {
  transition: 0.5s;
  &:hover {
    @extend .menuItem-selected !optional;
    cursor: pointer;
  }
}

/********************/
/*SECTIONS*/
/********************/

#Nosotros {
  #us-content {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 1;
      min-width: 300px;

      &:first-child {
        padding-bottom: 5vh;
      }
    }

    svg {
      height: 30vh;
      stroke: white;
      fill: white;
    }
  }
}

#Servicios {
  #services-content {
    display: flex;
    flex-flow: column;

    #services-diagram {
      height: 45vh;
      display: flex;

      #diagram-center {
        position: relative;
        // margin-left: -10vw;

        svg {
          height: 7vw;
          position: absolute;
          fill: white;

          /* Final product: diagram's center */
          &:nth-child(1) {
            height: 8vw;
            // margin-left: -2vw;
          }
          &:nth-child(2) {
            transform: translate(-19vw, -5vh);
          }
          &:nth-child(3) {
            transform: translate(-8vw, -25vh);
          }
          &:nth-child(4) {
            transform: translate(8vw, -25vh);
          }
          &:nth-child(5) {
            transform: translate(19vw, -5vh);
          }
        }
      }
    }

    #services-button {
      padding-top: 5vh;
    }
  }
}
