.layout {
  height: 100vh;
  width: 100vw;
  // background: #f2f2f2;
  display: flex;
  justify-content: space-between;

  main {
    color: white;
    flex: 1;
    padding: 2% 5%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: none; // IE 10+
    scrollbar-width: none; // Firefox

    &::-webkit-scrollbar {
      display: none; // Safari and Chrome
      width: 0;
      height: 0;
    }

    .section {
      height: 100vh;

      p {
        font-weight: 300;
      }
    }
  }

  .layout-side {
    display: flex;
    height: 100%;
    width: 15vw;
    background-color: white;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.menuItem {
  @extend .clickable;
  display: flex;
  height: 10vh;
  align-items: center;
  font-size: 0.7em;
  flex-flow: column;
  color: black;

  rect,
  polygon,
  path,
  line,
  circle,
  polyline {
    fill: transparent;
  }

  svg {
    height: 100%;
  }
}

.menuItem-selected {
  transform: scale(1.2);
  color: var(--purple);

  rect,
  polygon,
  path,
  line,
  polyline {
    stroke: var(--purple);
    stroke-width: 10px;
  }
}
