#Nosotros {
  #us-content {
    display: flex;
    flex-wrap: wrap;

    > div {
      flex: 1;
      min-width: 300px;

      &:first-child {
        padding-bottom: 5vh;
      }
    }

    svg {
      height: 30vh;
      stroke: white;
      fill: white;
    }
  }
}

#Servicios {
  #services-content {
    display: flex;
    flex-flow: column;

    > div {
      display: flex;
    }

    #services-content-icons {
      height: 10vh;
      width: 100%;

      > div {
        > div {
          flex: 1;
        }
      }

      svg {
        height: 100%;
        transition: 0.4s;
        flex: 1;

        &:hover {
          transform: scale(1.3);
        }
      }
    }

    #services-content-result {
      #services-content-result-info {
        flex: 1;
      }

      @media (max-width: 400px) {
        display: none;
      }
    }

    #services-diagram {
      height: 45vh;
      display: flex;
      justify-content: flex-end;
      flex-flow: column;

      #diagram-center {
        position: relative;
        height: 10vw;
        width: 10vw;

        svg {
          height: 7vw;
          position: absolute;
          fill: white;
          transition: 0.5s;

          /* Final product: diagram's center */
          &:nth-child(1) {
            height: 8vw;
            // margin-left: -2vw;
          }
          &:nth-child(2) {
            transform: translate(-19vw, -5vh);
          }
          &:nth-child(3) {
            transform: translate(-8vw, -25vh);
          }
          &:nth-child(4) {
            transform: translate(8vw, -25vh);
          }
          &:nth-child(5) {
            transform: translate(19vw, -5vh);
          }

          &:hover {
            height: 8vw;
          }
        }
      }
    }

    #services-button {
      padding-top: 5vh;
    }
  }
}
