.layout-side,
.layout-side-mobile {
  header {
    flex: 0.4;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 12vh;
    }
  }

  main {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
  }

  footer {
    flex: 0.2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.layout-side-mobile {
  transition: 1s;
}

.hidden-left {
  transform: translateX(-100%);
}
.hidden-right {
  transform: translateX(100%);
}

#layout-side-mobile-toggle {
  position: absolute;
  bottom: 5%;
  right: -35%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

#layout-side-mobile-arrow {
  @extend #layout-side-mobile-toggle;
  right: 5%;
  height: 50px;
  width: 50px;
  color: white;
  background-color: var(--purple);
}
